.code-editor {
  background: black;
  color: white;
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
}

.code-editor__canvas {
  background: black;
  color: white;
  flex: 1 1 auto;
  overflow: auto;
}

.code-editor .CodeMirror {
  height: auto;
  min-width: 100%;
  font-family: Hack, monospace;
  font-size: 13px;
}
