$size: 500px;

.board {
  width: $size;
  height: $size;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.board__fight {
  position: absolute;
  color: red;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s 0.4s;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.75);
}

.board__winner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 0.2s 0.4s;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.75);
}

.board__winner-controls {
  margin-top: 20px;
}



.winner {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3300AD;
  border-radius: 10px;
  padding: 10px 40px;
  color: white;
  font-size: 30px;
}

.winner .robot {
  height: 64px;
  width: 64px;
  margin-left: 20px;
}

.board--started .board__fight {
  opacity: 0;
}

.board__cell {
  background-color: #000;
  flex: 0 0 auto;
  box-sizing: border-box;
  border: solid 1px #6BC3E1;
  font-size: 10px;
  color: #333;
  font-family: monospace;
}

.robot {
  position: relative;
}

.robot__img {
  width: 100%;
  height: 100%;
}

.robot__health {
  position: absolute;
  left: 2px;
  right: 2px;
  top: -10  px;
  height: 5px;
  background-color: green;
  color: lime;
  border: solid 1px black;
}
